.title-container {
    text-align: center;
    color: #fff;
    
    .title {
        font-size: 40px;
        font-weight: 400;
        letter-spacing: 4px;
    }

    .sub-title {
        margin-top: 12px;
        font-size: 18px;
    }
}